<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>익명게시판</h1>
<div>
    <form th:action="@{/boards/{id}/search(id = ${board})}" method="get">
        <select id="searchType" name="searchType">
            <th:div th:if="${#strings.equals(searchType, 'title')}">
                <option value="title" name="title" selected="selected">제목</option>
                <option value="contents" name="contents">내용</option>
            </th:div>
            <th:div th:unless="${#strings.equals(searchType, 'title')}">
                <option value="title" name="title">제목</option>
                <option value="contents" name="contents" selected="selected">내용</option>
            </th:div>
        </select>
        <input type="text" id="searchWord" name="searchWord" th:value="${searchWord}">
        <input type="submit" value="검색">
    </form>
</div>
<p>
    <a th:href="@{/boards/{id}(id=0)}">전체 게시판</a> |
    <a th:href="@{/boards/{id}(id=1)}">자유 게시판</a> |
    <a th:href="@{/boards/{id}(id=2)}">개발 게시판</a> |
    <a th:href="@{/boards/{id}(id=3)}">일상 게시판</a> |
    <a th:href="@{/boards/{id}(id=4)}">사건사고 게시판</a>
</p>
<div th:if="${articleList.isEmpty()}">
    <p>검색 결과가 없습니다.</p>
</div>
<div th:unless="${articleList.isEmpty()}" th:each="article: ${articleList}">
    <p>[[${article.id}]] <a th:href="@{/article/{id}(id=${article.id})}">[[${article.title}]] [[${article.contents}]]</a></p>
</div>
</body>
</html>