<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>update</title>
</head>
<body>
<h1>글수정페이지입니다.</h1>
    <form th:action="@{/article/{id}/update(id=${article.id})}" method="post">
        <div>
            <select name="board" id="board" required>
                <th:div th:if="${article.board==1}">
                    <option value="1" selected="selected">자유</option>
                    <option value="2">개발</option>
                    <option value="3">일상</option>
                    <option value="4">사건사고</option>
                </th:div>
                <th:div th:if="${article.board==2}">
                    <option value="1">자유</option>
                    <option value="2"  selected="selected">개발</option>
                    <option value="3">일상</option>
                    <option value="4">사건사고</option>
                </th:div>
                <th:div th:if="${article.board==3}">
                    <option value="1">자유</option>
                    <option value="2">개발</option>
                    <option value="3" selected="selected">일상</option>
                    <option value="4">사건사고</option>
                </th:div>
                <th:div th:if="${article.board==4}">
                    <option value="1">자유</option>
                    <option value="2">개발</option>
                    <option value="3">일상</option>
                    <option value="4" selected="selected">사건사고</option>
                </th:div>

            </select>
        </div>
        <div>
            제목 : <input type="text" id="title" name="title" th:value="${article.title}" required>
        </div>
        <div>
            내용 : <textarea id="contents" name="contents" rows="30" cols="100" required>[[${article.contents}]]</textarea>
        </div>
        <div>
            기존 비밀번호 : <input type="password" id="usedPwd" name="usedPwd" required>
        </div>
        <div>
            새로운 비밀번호 : <input type="password" id="newPwd" name="newPwd" required>
        </div>

        <div>
            <input type="submit" value="수정">
        </div>

    </form>
<a th:href="@{/article/{id}(id=${article.id})}">뒤로가기</a>
<a href="/boards">홈으로</a>
</body>
</html>